.card-spotlight-effect {
    position: relative;
    overflow: hidden;
    /* border-radius: 0.875rem; */
    /* border: 1px solid #374151; */
    /* background-image: linear-gradient(to right, #0f172a, #06171b); */
    /* box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); */
  }
  
  .spotlight {
    pointer-events: none;
    position: absolute;
    inset: -1px;
    opacity: 0;
    transition: opacity 300ms;
  }
  
  /* .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  } */
  
  /* .greeting {
    margin-top: 1.25rem;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
  } */
/*   
  .description {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: #6b7280;
  } */

.bord-grad{
  border-radius: 1rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.bord-grad::before{
  content: '';
  transition: opacity 250ms;
  opacity: 0;
}
.bord-grad:hover::before{
  content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		/* background-color: #399953; */
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#ff0000, rgba(247, 96, 121, 0));
    opacity: 1;
		animation: rotate 3.5s linear infinite forwards;
}
.bord-grad::after{
  content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: rgb(31, 31, 31);
		border-radius: 1rem;
}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.right-1{
  /* background-color: #ff0000; */
  position: relative;
  left:60%;
  animation: entry 1.5s ease 50ms 1 both;
}
.right-2{
  /* background-color: #ff0000; */
  position: relative;
  left:80%;
  animation: entry 1.5s ease 50ms 1 both;
}
.right-3{
  /* background-color: #ff0000; */
  position: relative;
  left:100%;
  animation: entry 1.5s ease 50ms 1 both;
}
@keyframes entry {
  100%{
    left:0;
  }
}
.left-1{
  /* background-color: #ff0000; */
  position: relative;
  left:-60%;
  animation: entry 1.5s ease 50ms 1 both;
}
.left-2{
  /* background-color: #ff0000; */
  position: relative;
  left:-80%;
  animation: entry 1.5s ease 50ms 1 both;
}
.left-3{
  /* background-color: #ff0000; */
  position: relative;
  left:-100%;
  animation: entry 1.5s ease 50ms 1 both;
}
@keyframes entry {
  100%{
    left:0;
  }
}