@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    background-color: #171717;
    color: white;
    font-family: 'Raleway', sans-serif;
}

body {
    /* overflow-x: hidden; */
}

.tooltip {
    @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
    @apply visible z-50;
}

.image-wrapper:hover>img.zoom {
    transform: scale(1.1);
    filter: grayscale(0%);
}

.eventbox-wrapper:hover>img.event-image {
    filter: blur(5px);
}

.eventbox-wrapper>.content.slide-right {
    transform: translateX(100%);
}

.eventbox-wrapper:hover>.content.slide-right {
    transform: translateX(0);
}